<?xml version="1.0"?>
<launch>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port"  type="string" value="/dev/ttyUSB0"/>
    <param name="baud"  type="int"    value="57600"/>
  </node>
  
  <node pkg="jarvis_teleop" type="teleop_keyboard.py" name="teleop_twist_keyboard">
    <param name="speed"  value="0.5"/>
    <param name="turn"  value="1.0"/>
  </node>

  <node pkg="omnidrive_odometry" type="omnidrive_odom.py" name="omnidrive_odom" output="screen">
    <param name="rate" value="20" />
    <param name="robot_wheel_center_horizontal_distance" value="0.125" />
    <param name="robot_wheel_center_vertical_distance" value="0.075" />
    <param name="robot_wheel_radius" value="0.03" />
    <param name="robot_wheel_ticks" value="20" />
    <param name="frame_id" value="/odom" />
    <param name="child_frame_id" value="base_link" />
  </node>


  <node pkg="mecanumdrive_controller" type="mecanum_drive_controller.py" name="mecanum_drive_controller" output="screen">
    <param name="rate" value="20" />
    <param name="timeout_idle" value="50" />
    <param name="robot_wheel_center_horizontal_distance" value="0.125" />
    <param name="robot_wheel_center_vertical_distance" value="0.075" />
    <param name="robot_wheel_radius" value="0.03" />
  </node>
  
  <node pkg="jarvis_controller" type="jarvis_controller.py" name="" output="screen">
    <param name="kp" value="1.0" />
    <param name="ki" value="1.0" />
    <param name="kd" value="1.0" />
    <param name="motor_max_w" value="62.8319" />
    <param name="motor_min_w" value="31.4159" />
    <param name="motor_cmd_max" value="255" />
    <param name="motor_cmd_min" value="100" />
    <param name="pid_on" value="False" />
    <param name="controller_on" value="True" />
  </node>
  

</launch>
